:root{
    /* Custom color palette*/
    --header : #2F2519;
    --body: darkgray;
    --accents_soft: #FA7D09;
    --accents_hard: #FF4301;
}

header{
    height:5vh;
    margin-top:0px;
    font-size:50px;
    color:white;
    background-color:var(--header, black);
}

nav{
    display:inline-block;
    width:15vw;
    height:95vh;
    background-color: grey;
}
.main{
    text-align: center;
    display:inline-block;
    margin-left:4vw;
}
#newProject{
height:25px;
}
.bar{

    text-align: center;
    display:inline-block;
    font-size:25px;
}
.projectContainer{
    display:grid;
    grid-template-columns:17vw 17vw 17vw 17vw;
    grid-template-rows:auto;
    gap:15px;
    
}
.project{
    background-color: white;
}
.projectTitle{
    font-size : 30px;
}
.dateDiv{
    font-size:13px;
    text-align: right;
}
.description{
    width:80%;
    height:30%;
}
body{
    background-color: var(--body, darkgray);
}
.sidebarButton{

    margin-top:0.5vh;
    text-align: center;
    font-size:20px;
}
*{
    border:1px solid blue;
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
}
.completedContainer{
    display:none;
    grid-template-columns:17vw 17vw 17vw 17vw;
    grid-template-rows:auto;
    gap:15px;
    position:absolute;
    width:75%;
    height:80%;
    background-color: yellowgreen;

}
p{
    display:none;
}
.expand{
    height:50vh;
    width:20vw;
}